$main-color: orange;
$spacing: 25px;
$spacing2: $spacing * 2;
$gold: gold;
$font-size: $spacing * 2;

body {
  box-sizing: border-box;
  margin: 0;
}

h2 {
  font-size: $font-size;
}

.nav-bar {
  display:flex;
  justify-content: space-between;
  background-color: $main-color;
  padding: 0 $spacing;
  align-items: center;
  & .link {
    width: auto;
  }
  & a {
    margin: 0 $spacing;
    text-decoration: none;
  }
}

@mixin ring ($size, $color) {
  border: $size/10 solid $color;
  box-shadow: inset 3px 2px 10px 1px $color, 3px 2px 10px 1px $color;
  border-radius: 50% ;
  height: $size;
  width: $size;
}

.ring-top {
  display: flex;
  align-items: center;
  margin: $spacing2 0;
  justify-content: center;
  & h2 {
    margin: 0 $spacing;
  }
  & .ring {
    @include ring(50px, $main-color);
  }
}

.ring-middle {
  display: flex;
  margin: $spacing2 0;
  justify-content: center;
  align-items: center;
  & h2 {
    margin-left: $spacing;
  }
  & .ring {
    @include ring(150px, $gold)
  }
}

.ring-bottom {
  display: flex;
  margin: $spacing2 0;
  justify-content: center;
  align-items: center;
}

@for $i from 1 through 6 {
  .ring-bottom .ring:nth-of-type(#{$i}) {
    @include ring(45px * (1 + ($i/3)), black);
    margin-right: -25px * (1 + ($i/3));
  }
}

.footer {
  background-color: $main-color;
  display: flex;
  justify-content: space-around;
  padding: $spacing 0;
  & .footer-link {
    display: flex;
    flex-direction: column;
  }
  & a {
    text-decoration: none;
    padding-bottom: $spacing;
    line-height: $spacing;
  }
}

.main h2 {
  text-align: center;
}